target/
node_modules/
miniprogram_npm/
data/uploads/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.log
.DS_Store

data/uploads/
target/test-uploads/
deploy/.env
deploy/admin-dist/*
!deploy/admin-dist/.gitkeep
project.private.config.json
